@import 'assets/scss/colors.scss';

@font-face {
    font-family: 'customFont';
    src: url('assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  }

  body {
    font-family: 'customFont';
    font-size: medium;
    margin: 0;
  }  

my-button {
    background-color: $primary-color;
    color: $contrast-color;
    border-radius: 2px;
  }